@media (min-width: 1025px) {
    .discover {
        grid-template-columns: 1fr 3fr;
        max-width: 1200px;
        margin: 0 auto;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .card .learn-more {
        transition: background-color 0.3s ease;
    }

    .card .learn-more:hover {
        background-color: #e0a800;
    }
}

@media (min-width: 1025px) {
    .attractions-grid {
        grid-template-areas:
            "attraction1 attraction2 attraction3"
            "attraction4 attraction5 attraction6"
            "attraction7 attraction8 .";
        grid-template-columns: 1fr 1fr 1fr;
    }
}